@model LearnMVC.Models.AuthorBookView

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book!.Title" class="control-label"></label>
                <input asp-for="Book!.Title" class="form-control" />
                <span asp-validation-for="Book!.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book!.Description" class="control-label"></label>
                <input asp-for="Book!.Description" class="form-control" />
                <span asp-validation-for="Book!.Description" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Book!.Author" class="control-label"></label>
                <br />
                <select class="form-select" asp-for="Book!.AuthorId" asp-items="@(new SelectList(Model.Authors, nameof(Author.Id), nameof(Author.Name)))">
                    <option value="">None</option>
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
